
h1{
  font-family: 'Wendy One', sans-serif;
  background-color: pink;
  padding: 30px 50px;
  font-size: 50px;

}
li{
  background-color: orange;

  font-size: 25px;
}

p{
  background-color: yellow;


  font-size: 35px;
}
